itsdangerous
Werkzeug
amqp
celery
Flask
Flask-JWT-Extended
Flask-RESTful
Flask-SQLAlchemy
marshmallow
marshmallow-sqlalchemy
redis
requests
SQLAlchemy
py7zr
psycopg2-binary==2.9.1
google-cloud-storage
google-cloud-pubsub
gunicorn