[Unit]
Description=Flaskserver
After=network.target

[Service]
User=rodolfo_celcam
Group=www-data
WorkingDirectory=<PATH_TO_PROJECT>/misw4204_cloud
ExecStart=./Microservicios_Cloud/microservicio_auth/run_gunicorn.sh

[Install]
WantedBy=multi-user.target