[Unit]
Description=Celeryserver
After=network.target

[Service]
User=rodolfo_celcam
Group=www-data
WorkingDirectory=/home/rodolfo_celcam/misw4204_cloud
ExecStart=/home/rodolfo_celcam/misw4204_cloud/run_celery.sh

[Install]
WantedBy=multi-user.target