[Unit]
Description=WORKER_SERVER
After=network.target

[Service]
User=<MACHINE_USER>
Group=www-data
WorkingDirectory=<PATH_TO_PROJECT>/misw4204_cloud
ExecStart=<PATH_TO_PROJECT>/misw4204_cloud/Microservicios_Cloud/microservicio_worker/run_worker.sh

[Install]
WantedBy=multi-user.target